<div class="container mt-3">
  <div class="mh1">Existing Products</div>

  <div class="mt-3">
    <table class="table shadow-1">
      <thead>
        <tr>
          <th scope="col"><b>Company Name</b></th>
          <th scope="col"><b>Contact Name</b></th>
          <th scope="col"><b>Contact Information</b></th>
          <th scope="col"><b>Product Name</b></th>
          <th scope="col"><b>Product Type</b></th>
          <th scope="col"><b>FDA Target Center</b></th>
          <th scope="col"><b>Product Release Date</b></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let val of data">
          <th scope="row">{{val.companyName}}</th>
          <td>{{val.contactName}}</td>
          <td>{{val.contactInfo}}</td>
          <td>{{val.productName}}</td>
          <td>{{val.productType}}</td>
          <td>{{val.targetFDA}}</td>
          <td>{{val.prDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
